<ul class="navbar-nav">
          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
              role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <div class="avatar">
              <img src="img/avatar.jpg" height="35"
                alt="Portrait of a Woman" loading="lazy" />
              </div>
                <span class="userName">Михаил Петров</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">Мои профиль</a>
              </li>
              <li>
                <a class="dropdown-item" href="logout">Выйти</a>
              </li>
            </ul>
          </li>
        </ul>

@code {

}
