@inject HttpClient Http
<div class="modal fade" id="trashModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Удаление пользователя</h5>
                  <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <span>Вы действительно хотите удалить пользователя?</span>
                </div>
                <div class="modal-footer">
                  <button @onclick="DeleteUser" type="button" class="btn btn-danger">Удалить</button>
                </div>
              </div>
            </div>
          </div>

@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;

    private bool loading = false;

    private async Task DeleteUser()
    {
        loading = true;
        await Http.DeleteAsync($"api/Account/deleteUser/{Id}");
        loading = false;
    }
}
