@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using KetCRM.BlazorClient.Models
@inject HttpClient Http

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Изменение данных</h5>
                  <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>@status</span>
                  <div class="row">
                    <div class="col-6">
                      <input @bind-value="user.Surname" type="text" class="form-control gray-color" placeholder="Фамилия">
                      <input @bind-value="user.Name" type="text" class="form-control gray-color mt-3" placeholder="Имя">
                      <input @bind-value="user.Patronymic" type="text" class="form-control gray-color mt-3" placeholder="Отчество">
                    </div>
                    <div class="col-6">
                        <input @bind-value="user.Email" type="email" class="form-control gray-color" placeholder="Почта">
                      <input @bind-value="user.Login" type="text" class="form-control gray-color mt-3" placeholder="Логин">
                      <select @bind="user.Roles" style="padding: 4px 0 4px 12px; font-size: 16px"
                        class="gray-color form-select form-select-sm align-items-center mt-3" aria-label="Роль">
                        <option value="3" selected>Староста</option>
                        <option value="2">Кл.руководитель</option>
                        <option value="1">Секретарь</option>
                        <option value="0">Админ</option>
                      </select>
                    </div>
                    <div class="mt-3">
                      <input class="form-control gray-color" type="file" id="formFile">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Отменить</button>
                  <button class="btn btn-info" @onclick="UpdateUserData">
                    @{
                    if(loading)
                    {
                        <span>Загрузка...</span>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span>Сохранить</span>
                    }
                    }
                </button>
                </div>
              </div>
            </div>
       </div>

@code {
    [Parameter]
    public string Id { get; set; }
    private UserIdVM? user = new UserIdVM();
    private bool loading = false;
    private string status = string.Empty;

    private async Task UpdateLoadUserData()
    {
        loading = true;
        user = await Http.GetFromJsonAsync<UserIdVM>($"api/Account/GetUserById/{Id}");
        loading = false;
    }

    private async Task UpdateUserData()
    {
        loading = true;
        var result = await Http.PostAsJsonAsync($"api/Account/UpdateUserById/{Id}", user);
        if (result.IsSuccessStatusCode)
        {
            status = "Успешно";
        }
        else
        {
            status = "Неудачно";
        }
        loading = false;
    }

    protected override async Task OnInitializedAsync() => await UpdateLoadUserData();
}