@page "/user"
@using KetCRM.BlazorClient.Components

 <ModalRegister></ModalRegister>

<div class="row mt-4 mb-3">
      <div class="col-6 h4">
        Пользователи
      </div>
      <div class="col-6 d-flex justify-content-end">
        <button type="button" class="btn btn-info" data-mdb-toggle="modal" data-mdb-target="#modalRegister">
          Добавить пользователя
        </button>
      </div>
    </div>
    <section class="pb-4">
      <div class="bg-white border rounded-5">

        <section class="w-100 p-4 pb-4">
          <div class="form-outline mb-4">
            <input type="search" class="form-control" id="datatable-search-input">
            <label class="form-label" for="datatable-search-input" style="margin-left: 0px;">Найти пользователя</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 47.2px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <Table></Table>
          <div class="modal fade" id="trashModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Удаление пользователя</h5>
                  <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <span>Вы действительно хотите удалить пользователя?</span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger">Удалить</button>
                </div>
              </div>
            </div>
          </div>
          <ModalRegister></ModalRegister>
        </section>


      </div>
    </section>

@code {
}
