@page "/usermanager"
@using KetCRM.BlazorClient.Components.Account

<div class="row mt-4 mb-3">
      <div class="col-6 h4">
        Пользователи
      </div>
       <RegisterModal @ref="registerModal"></RegisterModal>
      <div class="col-6 d-flex justify-content-end">
        <button a @onclick="() => registerModal.Open()" class="btn btn-info" data-mdb-toggle="modal">
          Добавить пользователя
        </button>
      </div>
    </div>
    <section class="pb-4">
      <div class="bg-white border rounded-5">

        <section class="w-100 p-4 pb-4">
          <Table></Table>
        </section>


      </div>
    </section>

@code {
    private RegisterModal registerModal { get; set; }
}
